.dealer-info{
    .logo-name{
        img{
            max-width: 200px;
        }
        .dealer-name{
            font-size: 16px;
            font-weight: 700;
        }
        .rating{
            text-align: center;
            font-size: 18px;
            h6{
                font-weight: 700;
                font-size: 14px;
            }
        }
    }
    .contact-info{
        h6{
            font-size: 14px;
        }
        .info-text{
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
}