<div class="row">
	<div class="col-lg-3">
		<div class="recommended-posts">
			<div class="post-image">
				<img src="https://i.ebayimg.com/00/s/MTA3MFgxNjAw/z/w~4AAOSwPPxeJsMD/$_102.jpg" alt="">
			</div>
			<div class="post-title">
				Volkswagen Golf VII Variant Highline BMT
			</div>
			<div class="post-price">
				13,990 €
			</div>
			<div class="post-decription">
				<span> 07/2014</span><span>, </span><span>117.000&nbsp;km</span><span>, </span><span>Diesel</span><span>,
				</span><span>132&nbsp;kW&nbsp;(179&nbsp;PS)</span><span>, </span><span>Schaltgetriebe</span>
			</div>
		</div>
	</div>
</div>