<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Главная</a></li>
      <li class="breadcrumb-item active" aria-current="page">Авторынок</li>
    </ol>
  </nav>
  <div class="car-sales-container">
    <div class="row">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Фильтр</h6>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">156,321 New cars</h6>
            <small>Sort by</small>
            <div class="row">
              <div class="col-lg-4">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="col-lg-4"></div>
              <div class="col-lg-4"></div>
            </div>
            <hr>
            <app-featured-car></app-featured-car>
          </div>
        </div>
        <div class="card mt-4">
          <app-recent-cars-sales-list 
            [page]="page" 
            [car_condition]="car_condition" 
            [car_brand]="car_brand" 
            [car_model]="car_model" 
            [car_body]="car_body" 
            [car_fuel]="car_fuel">
          </app-recent-cars-sales-list>
        </div>
      </div>
    </div>
  </div>
</div>
