<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Главная</a></li>
      <li class="breadcrumb-item active" aria-current="page">Авторынок</li>
    </ol>
  </nav>
  <div class="car-sales-container">
    <div class="row">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Фильтр</h6>

            <hr>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body">
            <small>Сортировать</small>
            <div class="row">
              <div class="col-lg-4">
                <select class="form-control" [(ngModel)]='orderSelect' (change)="onOrderChange($event)">
                  <option value="-id">Сперва новое</option>
                  <option value="id">Сперва старое</option>
                  <option value="-price">Цена по возрастанию</option>
                  <option value="price">Цена по убыванию</option>
                </select>
              </div>
            </div>
            <hr>
            <app-featured-car></app-featured-car>
          </div>
        </div>
        <div class="card mt-4">
          <div class="cars-count">
            <h6>Всего {{posts_count}} Авто</h6>
          </div>
          <app-recent-cars-sales-list 
            [page]="page" 
            [car_condition]="car_condition" 
            [car_brand]="car_brand" 
            [car_model]="car_model" 
            [car_body]="car_body" 
            [car_fuel]="car_fuel"
            [ordering]="ordering"
            (posts_count)="getMessage($event)"
            >
          </app-recent-cars-sales-list>
        </div>
      </div>
    </div>
  </div>
</div>
