<div id="nav-main">
	<div class="nav-upper">
		<div class="container">
			<ul>
				<li>
					<a href>Обратная Связь</a>
				</li>
				<li>
					<a href>Русский</a>
				</li>
				<li>
					<a href>MDL</a>
				</li>
				<li style="float:right">
					<a class="active" href="#about">Войти</a>
				</li>
				<li style="float:right">
					<a class="active" href="#about">Мои Объявления</a>
				</li>
				<li style="float:right">
					<a class="active" href="#about">Последний поиск</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="nav-bottom">
		<div class="container">
			<ul>
				<li>
					<a href>Главная</a>
				</li>
				<li>
					<a href>Авторынок</a>
				</li>
				<li>
					<a href>Проверить VIN</a>
				</li>
				<li>
					<a href>Новости</a>
				</li>
				<li style="float:right">
					<a class="active" href="#about">Добавить Объявления</a>
				</li>
			</ul>
		</div>
	</div>
</div>