<div class="filter-card">
	<div class="card">
		<div class="card-body">
			<div class="filter-container">
				<div class="auto-types">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-outline-secondary">
							<img src="/assets/svg/car.svg" alt />
						</button>
						<button type="button" class="btn btn-outline-secondary">
							<img src="/assets/svg/vespa.svg" alt />
						</button>
						<button type="button" class="btn btn-outline-secondary">
							<img src="/assets/svg/minibus.svg" alt />
						</button>
						<button type="button" class="btn btn-outline-secondary">
							<img src="/assets/svg/van.svg" alt />
						</button>
					</div>
				</div>
				<div class="filter-sets">
					<div class="row">
						<div class="col-lg-6">
							<h5>Состояние</h5>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="col-lg-6">
							<h5>Брэнд</h5>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="col-lg-6">
							<h5>Модель</h5>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="col-lg-6">
							<h5>Тип Топлива</h5>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="col-lg-6 mt-5">
							<a href="http://">Детальный поиск</a>
						</div>
						<div class="col-lg-6 mt-5">
							<button type="button" class="btn btn-secondary btn-block">9999 результатов</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>