<div class="row">
  <div class="col-lg-3" *ngFor="let post of car_posts | slice: 0:8">
    <div class="recent-posts">
      <div class="post-image">
        <a [routerLink]="['/car-sales/', post.id, 'view']"><img src="https://api.allauto.md{{
							post.car_images[0].image
						}}" class="img-fluid"></a>
      </div>
      <div class="post-title">
        <a [routerLink]="['/car-sales/', post.id, 'view']">
          {{ post.car_brand.name }}
          {{ post.car_model.name }}
          {{ post.car_year }}
        </a>
      </div>
      <div class="post-price">
        {{ post.price | number }}{{ post.money_type.prefix }}
      </div>
      <div class="post-decription">
				<span>{{ post.car_brand.name }}, </span><span>{{ post.car_model.name }}, </span>
				<span>{{ post.car_year }}, </span>
				<span>{{ post.car_mileage }} km, </span><span>{{ post.car_body.name }}, </span>
				<span>{{ post.car_color.name }}, </span><span>{{ post.car_condition.name }}, </span>
				<span>{{ post.car_fuel.name }}, </span>
      </div>
    </div>
  </div>
</div>
