<div id="main-page-filter">
	<div class="container">
		<div class="page-filter mt-4">
			<app-home-filter></app-home-filter>
		</div>
		<div class="recent-car-posts mt-4">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Последние Объявления</h6>
					<hr>
					<app-recent-posts></app-recent-posts>
				</div>
			</div>
		</div>
		<div class="recommended-car-posts mt-4">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Recommended Posts</h6>
					<hr>
					<app-recommended-posts></app-recommended-posts>
				</div>
			</div>
		</div>
	</div>
</div>